html
  head
    title AngularJS 1 Tests
    link(rel='stylesheet', href='assets/css/index.css')
    script(src='assets/js/index.js')
  body
    div(data-ng-app='MainApp' data-ng-controller='MainController')
      h1 This is a Jade generated view
      profile(person='author')
      br
      form(name='profile')
        label Author Email 
        input(type='email' ng-model='author.email' name='address' required)
        p(ng-show='profile.address.$error.email && profile.address.$dirty' 
          style='color: red;') Not a valid e-mail address

        h2 Input status:
        p Valid: {{profile.address.$valid}} (if true, the value meets all criteria).
        p Dirty: {{profile.address.$dirty}} (if true, the value has been changed).
        p Touched: {{profile.address.$touched}} (if true, the value has been in focus).
        
        h2 Filter tests:
        p Price is {{3.54 | currency}}
        p Date is {{now | date: 'medium'}}
        p 3 first members as JSON sorted by country are {{members | orderBy: 'country' | limitTo: 3 | json}}
        p Members which name contains "e" sorted by country:
        ul
          li(ng-repeat='x in members | filter: {name: "e"} | orderBy: "country"') {{ x.name + ', ' + x.country }}
          
        p {{'this is a custom angularJS filter which capitalizes a string.' | capitalize}}
        p Url is {{url}}
        p Restaurants sorted by name are:
        table
          tr(ng-repeat='x in members | orderBy: "Country"')
            td(style='background-color: {{$odd ? "#fff" : "#f1f1f1"}}') {{$index + 1}}
            td(style='background-color: {{$odd ? "#fff" : "#f1f1f1"}}') {{x.Name}}
            td(style='background-color: {{$odd ? "#fff" : "#f1f1f1"}}') {{x.Country}}

        br
        label Select a car: 
        select(ng-model='car' ng-options='y.brand + " " + y.model for (x, y) in cars')
        p Car selected {{car | json}}
        
        br
        p
          button(ng-disabled='!buttonEnable' ng-show='buttonVisible') Test
        p
          label Enable button: 
          input(type='checkbox' ng-model='buttonEnable')
        p
          label Show button: 
          input(type='checkbox' ng-model='buttonVisible')