html
  head
    title Create a new account
    script(src='assets/js/register.js')
  body
    h2 Create your own account
    div(ng-app='MainApp' ng-controller='MainController')
      form(name='register' method='POST' action='#' novalidate)
        p
          label Username: 
          input(type='text' name='username' ng-model='username' required)
          span(style='margin-left:0.5em; color: red' 
               ng-show='validation.username.showError()'
               ng-bind='validation.username.errorMessage()')
        p
          label Email: 
          input(type='email' name='email' ng-model='email' required)
          span(style='margin-left:0.5em; color: red' 
               ng-show='validation.email.showError()'
               ng-bind='validation.email.errorMessage()')
        p
          label Password: 
          input(type='password' name='password' ng-model='password' 
          password-check required)
          span(style='margin-left:0.5em; color: red' 
               ng-show='validation.password.showError()'
               ng-bind='validation.password.errorMessage()')
        p
          label Repeat your password: 
          input(type='password' name='passwordc' ng-model='passwordc' 
          password-match='password' required)
          span(style='margin-left:0.5em; color: red' 
               ng-show='validation.passwordc.showError()'
               ng-bind='validation.passwordc.errorMessage()')
        p
          input(type='submit' ng-disabled='validation.submit.disable()')
    